<html>
  <head>
    <script src="/main.js"></script>
  </head>
  <body>
    Pregúntame lo que quieras.
    <input type="text" id="pregunta" placeholder="Enter subject" />
    <button onclick="fetchRespuesta(document.getElementById('pregunta').value)">
      Preguntar
    </button>
    <br /><br />
    <div id="respuesta">Espera, obtendrás tu respuesta aquí</div>
    <br /><br />
  </body>
</html>
