<html>
  <head>
    <title>Ask Me Anything</title>
    <script src="/main.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="pickScreen">
        <h1>Selecciona el tema:</h1>
        <button style="display: none" onclick="pickSubject('basicos')">
          Básicos
        </button>
        <button style="display: none" onclick="pickSubject('delictivos')">
          Delictivos
        </button>
        <button style="display: none" onclick="pickSubject('sanciones')">
          Sanciones
        </button>
        <button onclick="pickSubject('noPixel')">nopixel</button>
      </div>
      <div class="questionScreen">
        <button class="back" onclick="regresar()">&lt;</button>
        <h1>¡Hazme una pregunta!</h1>
        <input
          type="text"
          id="questionInput"
          placeholder="Ingresa tu pregunta aquí"
        />
        <button
          onclick="fetchRespuesta(document.getElementById('questionInput').value)"
        >
          Responder
        </button>
        <div id="answerOutput"></div>
      </div>
      <img class="logo" src="logo.png" alt="Logo de la web" />
    </div>
  </body>
</html>
